a {
  color: antiquewhite;
}

.container__side-card {
  display: flex;
  height: 100%;
  width: 100%;
}

.side-card__image {
  height: 100%;
}

.side-card__image > img {
  height: 100%;
}

.side-card__title {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}