.container__main-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  justify-content: space-evenly;
}

.main-card__image {
  width: 100%;
  min-width: 322px;
  margin-bottom: 10px;
}

.main-card__title {
  display: flex;
  color: antiquewhite;
  margin-bottom: 10px;
}

.main-card__description {
  margin-top: 10px;
}

.main-card__description > p > a {
  display: flex;
  color: rgb(126, 122, 117);
}
