<app-menu-bar></app-menu-bar>
<app-page-title></app-page-title>
<div class="container__articles">
  <div class="articles">
    <div class="articles__main-card">
      <app-main-card
        photoCover="https://repository-images.githubusercontent.com/314186076/79a18fff-1aeb-4a12-9340-db81b383b5e7"
        cardTitle="NOVA VERSÃO DO ANGULAR ANUNCIADA!"
        cardDescription="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, illo eligendi culpa dolorem nesciunt minima qui, labore ipsa error, beatae porro sed. Cum doloremque, facilis soluta quam nam nostrum quo."
      ></app-main-card>
    </div>
    <div class="articles__sidebar">
      <app-news-sidebar></app-news-sidebar>
    </div>
  </div>
</div>