<div class="sidebar">
  <app-side-card
    photoCover="https://tntsports.com.br/__export/1638052653330/sites/esporteinterativo/img/2021/11/27/palmeiras_campeao.png"
    cardTitle="Palmeiras bate Flamengo e se torna Tri-Campeão da América!"
  ></app-side-card>
  <hr>
  <app-side-card
  photoCover="https://tntsports.com.br/__export/1638052653330/sites/esporteinterativo/img/2021/11/27/palmeiras_campeao.png"
  cardTitle="Palmeiras bate Flamengo e se torna Tri-Campeão da América!"
  ></app-side-card>
  <hr>
  <app-side-card
  photoCover="https://tntsports.com.br/__export/1638052653330/sites/esporteinterativo/img/2021/11/27/palmeiras_campeao.png"
  cardTitle="Palmeiras bate Flamengo e se torna Tri-Campeão da América!"
  ></app-side-card>
</div>